<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin: auto">
      <h3>Angular 6 Reactive Form Validation</h3>
      <form [formGroup]="productUploadForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="Product name" formControlName="productName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"
            />
          </mat-form-field>
          <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
            <div *ngIf="f.productName.errors.required">productName Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="Product describtion" formControlName="productDesc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productDesc.errors }"
            />
          </mat-form-field>
          <div *ngIf="submitted && f.productDesc.errors" class="invalid-feedback">
            <div *ngIf="f.productDesc.errors.required">Last Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
            />
          </mat-form-field>
          <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">price is required</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput type="text" placeholder="unit" formControlName="unit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.unit.errors }"
            />
          </mat-form-field>
          <div *ngIf="submitted && f.unit.errors" class="invalid-feedback">
            <div *ngIf="f.unit.errors.required">unit is required</div>
            <div *ngIf="f.unit.errors.minlength">unit must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
