<div class="container">
  <mat-card>
    <mat-card-title>Stock Update Form</mat-card-title>
    <mat-card-content>
      <!-- Page form start -->
      <form [formGroup]="stockUpdateForm" novalidate>


        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center" layout-margin>
        </div>
        <br>

        <mat-card formArrayName="units">
          <mat-card-title>Units</mat-card-title>
          <mat-divider></mat-divider>
          <div *ngFor="let unit of stockUpdateForm.controls.units.controls; let i=index">

            <!-- row divider show for every nex row exclude if first row -->
            <mat-divider *ngIf="stockUpdateForm.controls.units.controls.length > 1 && i > 0"></mat-divider>
            <br>

            <!-- group name in this case row index -->
            <div [formGroupName]="i">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center">

                <!-- unit name input field -->
                <mat-form-field fxFlex="30%">
                  <input matInput placeholder="Unit name" formControlName="unitName" required>
                  <!-- input field error -->
                  <mat-error *ngIf="unit.controls.unitName.invalid">
                    Unit name is required.
                  </mat-error>
                </mat-form-field>

                <!-- unit quantity input field -->
                <mat-form-field fxFlex="10%">
                  <input matInput placeholder="Quantity" type="number" formControlName="qty" required>
                </mat-form-field>

                <!-- unit price input field -->
                <mat-form-field fxFlex="20%">
                  <input matInput placeholder="Unit price" type="number" formControlName="unitPrice" required>
                </mat-form-field>

                <!-- unit total price input field, calculated and not editable -->
                <mat-form-field>
                  <input matInput placeholder="Total sum" formControlName="unitTotalPrice">
                </mat-form-field>

                <!-- row delete button, hidden if there is just one row -->
                <button mat-mini-fab color="warn" *ngIf="stockUpdateForm.controls.units.controls.length > 1" (click)="removeUnit(i)">
                  <mat-icon>delete forever</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!-- New unit button -->
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-raised-button (click)="addUnit()">
              <mat-icon>add box</mat-icon>
              Add new unit
            </button>
          </mat-card-actions>
        </mat-card>
        <!-- End form units array -->
      </form>
      <!-- Page form end -->
      <br>

      <!-- Total price calculation formated with angular currency pipe -->
      <mat-card>
        Total price is {{ totalSum | currency:'USD':'symbol-narrow':'1.2-2'}}
      </mat-card>
    </mat-card-content>

    <!-- Form submit button enabled on if form is valid -->
    <mat-card-actions>
      <button mat-button [disabled]="stockUpdateForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>

</div>
